<div class="main-row row-division main-plugins">
  <div *ngFor="let plugin of plugins" class="main-plugin">
    <div [ngSwitch]="plugin.template">
      <div *ngSwitchCase="'pluginColldoctor'">
        <icmp-plugin-colldoctor></icmp-plugin-colldoctor>
      </div>
      <div *ngSwitchCase="'pluginRegRemind'">
        <icmp-plugin-regRemind></icmp-plugin-regRemind>
      </div>
    </div>
  </div>
  <div class="add-plugin" tappable (tap)="goHomePluginsManager()">
    <ion-icon name="add"></ion-icon>
  </div>
</div>
