<ion-header>
  <ion-navbar>
    <ion-title>{{'APPLY_AND_NOTIFICATION' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content-gray-new">
  <ion-list class="icmp-list-top-margin">
    <ion-item-sliding *ngFor="let user of applyList">
      <button ion-item (click)="lookUserProfile(user)">
        <ion-avatar item-left>
          <img *ngIf="user.avatar" src="{{user.avatar}}" (error)="resetImg(user)">
          <div *ngIf="!user.avatar" class="word-head-image">
            <div class="word-head-image-content">{{user.nickId.substring(0, 1)}}</div>
          </div>
        </ion-avatar>
        <h2>{{user.nickId}}</h2>
        <button class="clear-btn" [disabled]='user.isSubmit' *ngIf="user.state.code == 1" mode="md" ion-button clear item-end color="danger" (click)="refuseApply($event, user)">{{'REFUSE' | translate}}</button>
        <span item-end *ngIf="user.state.code == 1">|</span>
        <button class="clear-btn" [disabled]='user.isSubmit' *ngIf="user.state.code == 1" mode="md" ion-button clear item-end (click)="agreeApply($event, user)">{{'AGREE' | translate}}</button>    
        <button class="clear-btn clear-btn-color" *ngIf="user.state.code == 2" mode="md" ion-button clear item-end>{{'AGREED' | translate}}</button>
        <button class="clear-btn clear-btn-color" *ngIf="user.state.code == 3" mode="md" ion-button clear item-end>{{'REFUSED' | translate}}</button>
        <button class="clear-btn clear-btn-color" *ngIf="user.state.code == 4" mode="md" ion-button clear item-end>{{'REQUEST_SENT' | translate}}</button>
        <button class="clear-btn clear-btn-color" *ngIf="user.state.code == 5" mode="md" ion-button clear item-end>{{'BE_AGREED' | translate}}</button>
        <button class="clear-btn clear-btn-color" *ngIf="user.state.code == 6" mode="md" ion-button clear item-end>{{'REJECTED' | translate}}</button>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteApply(user)">{{'DELETE' | translate}}</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
