<ion-header>
  <ion-navbar>
    <ion-title>{{'APPLICATION_REPORT' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button clear color="primary" (click)="submit()" [disabled]="isSubmit">
        {{'SUBMIT' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray application-content">
  <div class="form-title" [innerHtml]="getSafeHtml(title)"></div>
  <ion-list class="application-form icmp-list-bottom-none">
    <div *ngFor="let item of template">
      <!-- 显示用的大标题 -->
      <p *ngIf="item.type == 'title'" class="application-template-title" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        {{item.default}}
      </p>
      <!-- 标签 -->
      <ion-item *ngIf="item.type == 'label'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label fixed [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-input type="text" class="form-text" [(ngModel)]="item.default" [disabled]="true"></ion-input>
      </ion-item>
      <!-- 文本框 -->
      <ion-item *ngIf="item.type == 'text'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label fixed [innerHtml]="getSafeHtml(item.label)" [ngClass]="{'label-disabled': item.disabled}"></ion-label>
        <ion-input type="text" class="form-text" [(ngModel)]="input[item.model]" [disabled]="item.disabled"></ion-input>
      </ion-item>
      <!-- 文本域 -->
      <ion-item *ngIf="item.type == 'textarea'" class="item-textarea" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label [innerHtml]="getSafeHtml(item.label)" [ngClass]="{'label-disabled': item.disabled}"></ion-label>
        <ion-textarea rows="5" [(ngModel)]="input[item.model]" [style.height]="item.height" [disabled]="item.disabled"></ion-textarea>
      </ion-item>
      <!-- 下拉选择 -->
      <ion-item *ngIf="item.type == 'select'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-select [(ngModel)]="input[item.model]" (ionChange)="selectChange(item)" [disabled]="item.disabled"
                    placeholder="{{'PLEASE_SELECT' | translate}}" multiple="{{item.category == 'multi'}}"
                    cancelText="{{'CANCEL' | translate}}" okText="{{'CONFIRM' | translate}}">
          <ion-option *ngFor="let option of item.data" [value]="option.id">{{option.name}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- 日期 -->
      <ion-item *ngIf="item.type == 'date'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-datetime placeholder="{{'PLEASE_SELECT_DATE' | translate}}"
                      (ionCancel)="clearDatetime(item)" (ionChange)="setControl(item, item)"
                      max="2100" (touchstart)="setDatetime(item)" [disabled]="item.disabled"
                      displayFormat="{{item.format}}" [(ngModel)]="input[item.model]"
                      cancelText="{{'CLEAR' | translate}}" doneText="{{'CONFIRM' | translate}}">
        </ion-datetime>
      </ion-item>
      <!-- 搜索选择 -->
      <ion-item *ngIf="item.type == 'searchbox'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label fixed [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-input type="text" class="form-text" [(ngModel)]="input[item.model + 'Name']" placeholder="{{'PLEASE_SELECT' | translate}}" tappable (click)="searchboxSelect(item)" disabled="true"></ion-input>
        <input type="hidden" [(ngModel)]="input[item.model]">
      </ion-item>
      <!-- 单选 -->
      <ion-list radio-group *ngIf="item.type == 'radio'" class="item-radioAndCheck" [ngClass]="{'display-hidden': item.status == 'hidden'}" [(ngModel)]="input[item.model]" (ionChange)="radioChange(item)">
        <ion-list-header><span [innerHtml]="getSafeHtml(item.label)"></span></ion-list-header>
        <ion-item *ngFor="let option of item.data" text-wrap>
          <ion-label class="small-label">{{option.name}}</ion-label>
          <ion-radio value="{{option.id}}"></ion-radio>
        </ion-item>
      </ion-list>
      <!-- 多选 -->
      <ion-list *ngIf="item.type == 'checkbox'" [ngClass]="{'display-hidden': item.status == 'hidden'}" class="item-radioAndCheck">
        <ion-list-header><span [innerHtml]="getSafeHtml(item.label)"></span></ion-list-header>
        <ion-item *ngFor="let option of item.data" text-wrap>
          <ion-label class="small-label">{{option.name}}</ion-label>
          <ion-checkbox [(ngModel)]="inputTemp[item.model + '_' + option.id]" (ionChange)="setCheckValue(item, option)"></ion-checkbox>
        </ion-item>
      </ion-list>
      <!-- 嵌套表格 -->
      <ng-container *ngIf="item.type == 'list'">
        <!-- 隔断 -->
        <div class="blank-line"></div>
        <ion-item [ngClass]="{'display-hidden': item.status == 'hidden'}">
          <ion-label [innerHtml]="getSafeHtml(item.label)"></ion-label>
          <ion-icon class="add-circle-add" name="add-circle" color="primary" item-end (click)="addListRow(item, 'click')"></ion-icon>
        </ion-item>
        <ion-item [ngClass]="{'display-hidden': item.status == 'hidden'}">
          <ion-list *ngFor="let itemListAll of inputTemp[item['model'] + 'Components']; let iList = index" class="nested-list icmp-list-bottom-none">
            <ion-item class="remove-circle-delete-border" *ngIf="iList > 0 || (iList == 0 && !item.initRow)">
              <ion-icon class="remove-circle-delete" name="remove-circle" color="danger" (click)="deleteListRow(item, iList)"></ion-icon>
              <span>时间段</span>
            </ion-item>
            <ng-container *ngFor="let itemList of itemListAll">
              <ion-item>
                <h2 item-start [innerHtml]="getSafeHtml(itemList.label)"></h2>
                <ion-input *ngIf="itemList.type == 'text'" type="text" [(ngModel)]="input[item['model']][iList][itemList.model]" class="form-text"></ion-input>
                <ion-select *ngIf="itemList.type == 'select'" [(ngModel)]="input[item['model']][iList][itemList.model]" [selectOptions]="getListSelectOptions(itemList)"
                            placeholder="{{'PLEASE_SELECT' | translate}}" multiple="{{itemList.category == 'multi'}}"
                            cancelText="{{'CANCEL' | translate}}" okText="{{'CONFIRM' | translate}}" (ngModelChange)="calculateFunc(item, input)">
                  <ion-option *ngFor="let option of itemList.data" [value]="option.id">{{option.name}}</ion-option>
                </ion-select>
                <ion-datetime *ngIf="itemList.type == 'date'" placeholder="{{'PLEASE_SELECT_DATE' | translate}}"
                              (ionCancel)="clearDatetime(item, iList, itemList)" max="2100" (touchstart)="setDatetime(item, iList, itemList)"
                              displayFormat="{{itemList.format}}" [(ngModel)]="input[item['model']][iList][itemList.model]"
                              cancelText="{{'CLEAR' | translate}}" doneText="{{'CONFIRM' | translate}}" (ngModelChange)="calculateFunc(item, input)">
                </ion-datetime>
                <ion-input *ngIf="itemList.type == 'searchbox'" type="text" class="form-text" [(ngModel)]="input[item['model']][iList][itemList.model + 'Name']" 
                           placeholder="{{'PLEASE_SELECT' | translate}}" tappable (click)="searchboxSelect(item, iList, itemList)" disabled="true"></ion-input>
                <input *ngIf="itemList.type == 'searchbox'" type="hidden" [(ngModel)]="input[item['model']][iList][itemList.model]">
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-item>
      </ng-container>
      <!-- 隐藏项 -->
      <div *ngIf="item.type == 'hidden'" class="display-hidden">
        <input type="hidden" [(ngModel)]="input[item.model]">
      </div>
    </div>
  </ion-list>
  <!-- 附件 -->
  <div *ngIf="deviceType == null || deviceType == '' || deviceType == 'android'">
    <div *ngFor="let item of template">
      <div *ngIf="item.type == 'file'">
        <div class="icmp-list-header file-header">
          <span>{{item.label}}</span>
          <button ion-button color="primary" small (click)="fileChoose(item)">
            {{'CHOOSE_FILE' | translate}}
          </button>
        </div>
        <ion-list class="icmp-list-bottom-none">
          <ion-item class="file-item" *ngIf="inputTemp[item.model] == null || inputTemp[item.model].length == 0"></ion-item>
          <ion-item *ngFor="let file of inputTemp[item.model]; let i = index">
            <h2>{{file.name}}</h2>
            <ion-spinner *ngIf="file.id == null" item-end></ion-spinner>
            <button *ngIf="file.id != null" ion-button clear item-end color="danger" (click)="deleteFile(item, file)">删除</button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <div class="blank-line"></div>
</ion-content>
