<ion-header>
  <ion-navbar>
    <ion-title>{{'ALL_APP' | translate}}</ion-title>
    <ion-buttons end>
      <button id="e2e-edit-button" ion-button color="primary" clear (click)="manageMenus()">
        <span *ngIf="!isManage">{{'MANAGE' | translate}}</span>
        <span *ngIf="isManage">{{'COMPLETE' | translate}}</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray-new">
  <ion-searchbar [formControl]="titleFilter" placeholder="{{'APP_NAME' | translate}}"></ion-searchbar>
  <icmp-placeholder *ngIf="isShow && !count" placeholder="{{keyword}}"></icmp-placeholder>
  <div class="menus" *ngIf="!isShow || count">
    <div class="menus-title">{{'MY_APPLICATION' | translate}}</div>
    <div class="menus-content" [dragula]="'bag-one'" [dragulaModel]="myMenus">
      <div *ngFor="let menu of myMenus | searchFilter: 'name': keyword" [style.width]="menuWidth" tappable (tap)="openApp(menu)">
        <div class="setting-menu" (contextmenu)="contextmenuEvent($event)" (touchstart)="touchstartEvent($event)" (touchend)="touchendEvent($event)" (touchmove)="dragulaMove($event)" (pointermove)="dragulaMove($event)">
          <img [src]="menu.icon">
          <div class="menu-text">{{menu.name}}</div>
          <ion-icon *ngIf="isManage" name="remove-circle" class="menus-op" tappable (tap)="currentMenuRemove(menu)"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="menus row-division" *ngIf="!isManage && (!isShow || count)">
    <div *ngFor="let categoryMenu of categoryMenus, let i = index">
      <div class="menus-title" *ngIf="(categoryMenu.menus | searchFilter: 'name': keyword).length" [ngClass]="{'menus-first': i == 0}">{{categoryMenu.typeName}}</div>
      <div class="menus-content">
        <div class="setting-menu" *ngFor="let menu of categoryMenu.menus | searchFilter: 'name': keyword" tappable (tap)="openApp(menu)" [style.width]="menuWidth">
          <img [src]="menu.icon">
          <div class="menu-text">{{menu.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="menus row-division" *ngIf="isManage && (!isShow || count)">
    <div *ngFor="let categoryMenu of categoryMenus, let i = index">
      <div class="menus-title" *ngIf="(categoryMenu.menus | searchFilter: 'name': keyword).length" [ngClass]="{'menus-first': i == 0}">{{categoryMenu.typeName}}</div>
      <div class="menus-content">
        <div class="setting-menu" *ngFor="let menu of categoryMenu.menus | searchFilter: 'name': keyword" [style.width]="menuWidth">
          <img [src]="menu.icon">
          <div class="menu-text">{{menu.name}}</div>
          <ion-icon name="checkmark-circle" *ngIf="isManage && isMenuSelected(menu)" class="menus-op positive" (click)="listMenuRemove(menu)"></ion-icon>
          <ion-icon name="radio-button-off" *ngIf="isManage && !isMenuSelected(menu)" class="menus-op" (click)="menuAdd(menu)"></ion-icon>
        </div>
      </div>
    </div>
  </div>

</ion-content>
