page-query-list {
  .main-row {
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #f0f4f7;
    border-bottom: 1px solid #f0f4f7;
    padding: 0;
    margin: 0;
  }

  .main-menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 0px;
    border-top: 0 !important;

    .main-menu {
      text-align: center;
      padding: 2px;
      position: relative;
      margin: 10px 0;

      img {
        width: 55px;
        height: 55px;
        padding: 6px;
      }

      .menu-title {
        margin-top: -4px;
        text-align: center;
        font-size: 12px;
        color: #555555;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .query-item-time {
    text-align: center;
    height: 40px;
    line-height: 40px;
  }

  .query-item-title {
    margin: -1px 0 0 !important;

    .item {
      height: 94px;
    }

    .query-item-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      img {
        width: 50px;
        height: 50px;
        margin-right: 16px;
        vertical-align: bottom;
      }

      .query-item-content-font {
        display: inline-block;
        width: 75%;
        height: 50px;
        padding-top: 5px;

        .query-item-content-title {
          font-size: 1.6rem;
          color: #444;
          margin: 0 0 5px 0;
        }

        .query-item-content-subtitle {
          width: 100%;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
          margin-bottom: 0;
        }
      }

      .query-item-content-font-width {
        width: 100%;
      }
    }
  }
  .list-md.query-item-content-border {
    border-bottom: 1px solid #f0f4f7;
    margin-top: 0px !important;
  }
}