<ion-header>
  <ion-navbar>
    <ion-title>{{'NEWS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray-new">
  <form>
    <ion-searchbar [formControl]="titleFilter" placeholder="{{'SEARCH' | translate}}">
    </ion-searchbar>
  </form>
  <icmp-placeholder *ngIf="isShow && !count" placeholder="{{keyword}}"></icmp-placeholder>
  <ion-list class="icmp-list-bottom-margin">
    <ion-item-sliding *ngFor="let user of chatList | searchFilter: 'toChatNickName': keyword">
      <button ion-item detail-none (click)="chatToUserOrGroup(user)">
        <ion-avatar item-start class="main-item">
          <img *ngIf="user.headImage" src="{{user.headImage}}" (error)="resetImg(user)">
          <div *ngIf="!user.headImage" class="word-head-image">
            <div class="word-head-image-content">{{user.toChatNickName.substring(0, 1)}}</div>
          </div>
        </ion-avatar>
        <span class="item-superscript-area">
          <span class="item-superscript" *ngIf="user.unreadMessagesCount != null && user.unreadMessagesCount != 0">{{user.unreadMessagesCount}}</span>
        </span>
        <h2>{{user.toChatNickName}}</h2>
        <div class="message">
          <span class="red-message">{{user.redMessage}}</span>
          <span>{{user.lastMessage}}</span>
        </div>
        <div *ngIf="user.notification==1" class="right-div" item-end>
          <p class="time">{{user.lastMessageTime}}</p>
          <ion-icon name="notifications-off"></ion-icon>
        </div>
        <p *ngIf="user.notification==undefined||user.notification==0" class="only-time" item-end>{{user.lastMessageTime}}</p>
      </button>
      <!-- 侧滑删除 -->
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeConversation(user)">
          {{'DELETE' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
