page-about {

  .about-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    img {
      width: 100%;
    }
  }
  
  .about-logo {
    text-align: center;
    padding: 20px 0 0 0;
    img {
      width: 180px;
    }
  }
  
  .about-version {
    color: #999999;
    text-align: center;
    font-size: 14px;
    margin-top: 2px;
  }
  
  .about-description {
    margin: 25px;
    height: 53%;
    overflow-y: auto;
  }
  
  .about-footer {
    width: 100%;
    position: absolute;
    bottom: 23px;
  
    .footer-content {
      display:flex;
      margin: 0 auto;
      width: 210px;

      .footer-font {
        height:30px;
        line-height:36px;
        font-size: 20px;
        font-weight: bold;

        img {
          width:30px;
          height: 100%;
        }
      }
    }

    .footer-content-name {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      margin-top: 8px;
    }
  }
}
