<icmp-spinner></icmp-spinner>
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear color="primary" (click)="query()">
        {{'STATISTICS' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray statisticsQuery-content">
  <ion-list class="statisticsQuery-form">
    <div *ngFor="let item of template">
      <!-- 标签 -->
      <ion-item *ngIf="item.type == 'label'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label fixed [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-input type="text" class="form-text" [(ngModel)]="item.default" [disabled]="true"></ion-input>
      </ion-item>
      <!-- 文本框 -->
      <ion-item *ngIf="item.type == 'text'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label fixed [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-input type="text" class="form-text" [(ngModel)]="input[item.model]"></ion-input>
      </ion-item>
      <!-- 文本域 -->
      <ion-item *ngIf="item.type == 'textarea'" class="item-textarea" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-textarea rows="5" [(ngModel)]="input[item.model]" [style.height]="item.height"></ion-textarea>
      </ion-item>
      <!-- 下拉选择 -->
      <ion-item *ngIf="item.type == 'select'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-select [(ngModel)]="input[item.model]" (ionChange)="selectChange(item)"
                    placeholder="{{'PLEASE_SELECT' | translate}}" multiple="{{item.category == 'multi'}}"
                    cancelText="{{'CANCEL' | translate}}" okText="{{'CONFIRM' | translate}}">
          <ion-option *ngFor="let option of item.data" [value]="option.id">{{option.name}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- 日期 -->
      <ion-item *ngIf="item.type == 'date'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-datetime placeholder="{{'PLEASE_SELECT_DATE' | translate}}"
                      (ionCancel)="clearDatetime(item)" max="2100" (touchstart)="setDatetime(item)"
                      displayFormat="{{item.format}}" [(ngModel)]="input[item.model]"
                      cancelText="{{'CLEAR' | translate}}" doneText="{{'CONFIRM' | translate}}">
        </ion-datetime>
      </ion-item>
      <!-- 搜索选择 -->
      <ion-item *ngIf="item.type == 'searchbox'" [ngClass]="{'display-hidden': item.status == 'hidden'}">
        <ion-label fixed [innerHtml]="getSafeHtml(item.label)"></ion-label>
        <ion-input type="text" class="form-text" [(ngModel)]="input[item.model + 'Name']" placeholder="{{'PLEASE_SELECT' | translate}}" tappable (click)="searchboxSelect(item)" disabled="true"></ion-input>
        <input type="hidden" [(ngModel)]="input[item.model]">
      </ion-item>
      <!-- 隐藏项 -->
      <div *ngIf="item.type == 'hidden'" class="display-hidden">
        <input type="hidden" [(ngModel)]="input[item.model]">
      </div>
    </div>
  </ion-list>
</ion-content>
