<div class="main-row main-menus">
  <div *ngFor="let menu of menus" class="main-menu" [style.width]="menuWidth" tappable (tap)="openApp(menu)">
    <img [src]="menu.icon">
    <div class="menu-title">{{menu.name}}</div>
    <span class="menu-superscript-area"><span class="menu-superscript" *ngIf="menu.total != null && menu.total != 0">{{menu.total}}</span></span>
  </div>
  <div id="e2e-main-menu" class="main-menu" [style.width]="menuWidth" tappable (tap)="goHomeMenusManager()">
    <img src="./assets/images/icon_add.png">
    <div class="menu-title">{{'ALL' | translate}}</div>
  </div>
</div>
