<ion-header>
  <ion-navbar>
    <ion-searchbar [formControl]="titleFilter" placeholder="{{'PLUGIN_NAME' | translate}}"></ion-searchbar>
    <ion-buttons end>
      <button id="e2e-edit-button" ion-button clear color="primary" (click)="manageMenus()">
        <span *ngIf="!isManage">{{'MANAGE' | translate}}</span>
        <span *ngIf="isManage">{{'COMPLETE' | translate}}</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray">
  <div class="menus">
    <div class="menus-title">{{'MY_PLUGINS' | translate}}</div>
    <div class="menus-content" [dragula]="'bag-two'" [dragulaModel]="myPlugins">
      <div *ngFor="let plugin of myPlugins" [style.width]="menuWidth" (press)="pressEvent($event)">
        <div class="setting-menu" (contextmenu)="contextmenuEvent($event)" (touchstart)="touchstartEvent($event)" (touchend)="touchendEvent($event)" (touchmove)="dragulaMove($event)" (pointermove)="dragulaMove($event)">
          <img src="./assets/images/icon_default.png">
          <div class="menu-text">{{plugin.name}}</div>
          <ion-icon *ngIf="isManage" name="remove-circle" class="menus-op" tappable (tap)="menuRemove(plugin)"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="menus row-division" *ngIf="!isManage">
    <div class="menus-title menus-first">{{'ALL_PLUGINS' | translate}}</div>
    <div class="menus-content">
      <div *ngFor="let plugin of allPlugins | searchFilter: 'name': keyword" class="setting-menu" [style.width]="menuWidth" (press)="pressEvent($event)">
        <img src="./assets/images/icon_default.png">
        <div class="menu-text">{{plugin.name}}</div>
      </div>
    </div>
  </div>
  <div class="menus row-division" *ngIf="isManage">
    <div class="menus-title menus-first">{{'ALL_PLUGINS' | translate}}</div>
    <div class="menus-content">
      <div *ngFor="let plugin of allPlugins | searchFilter: 'name': keyword" class="setting-menu" [style.width]="menuWidth">
        <img src="./assets/images/icon_default.png">
        <div class="menu-text">{{plugin.name}}</div>
        <ion-icon name="checkmark-circle" *ngIf="isManage && isPluginSelected(plugin)" class="menus-op positive" (click)="menuRemove(plugin)"></ion-icon>
        <ion-icon name="radio-button-off" *ngIf="isManage && !isPluginSelected(plugin)" class="menus-op" (click)="menuAdd(plugin)"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
