<ion-header [ngClass]="{'index-header': shadowShow}">
  <ion-navbar>
    <ion-title>{{'HOME_PAGE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray-new home-content">

  <!--轮播图-->
  <div class="home-carousel" [style.height]="bannerlHeight" (window:resize)="onResize()">
    <ion-slides #ionCarouselSlides loop="true" pager [style.height]="bannerlHeight">
      <ion-slide [style.height]="bannerlHeight">
        <img src="./assets/images/ad1.png" [style.height]="bannerlHeight">
        <div class="carousel-font"></div>
      </ion-slide>
      <ion-slide [style.height]="bannerlHeight">
        <img src="./assets/images/ad2.png" [style.height]="bannerlHeight">
        <div class="carousel-font"></div>
      </ion-slide>
      <ion-slide [style.height]="bannerlHeight">
        <img src="./assets/images/ad3.png" [style.height]="bannerlHeight">
        <div class="carousel-font"></div>
      </ion-slide>
    </ion-slides>
  </div>

  <!--应用列表-->
  <icmp-home-custom [menus]="menus"></icmp-home-custom>

  <!--消息-->
  <!-- <div *ngIf="notices != null && notices.length > 0" class="main-row row-division main-notice">
    <ion-icon name="volume-up"></ion-icon>
    <span class="notice-title">{{'LAST_NOTIFY' | translate}}</span>
  </div>
  <div *ngIf="notices != null && notices.length > 0" class="main-row main-notice">
    <span class="notice-content">
      <div class="e2e-notice" *ngFor="let item of notices; let i = index" [ngClass]="{'notice-first': i==0}" tappable (tap)="openNotice(item)">
        <span [innerHtml]="item.title"></span>
      </div>
    </span>
    <button ion-button small round class="notice-content-btn" (click)="openAllNotice()">{{'MORE' | translate}}</button>
  </div> -->

  <!--插件-->
  <!-- <icmp-add-custom-plugins [plugins]="plugins"></icmp-add-custom-plugins> -->
  <!-- <icmp-plugin-show></icmp-plugin-show> -->

  <!-- 底部预留部份空白 -->
  <div class="bottom-blank"></div>
</ion-content>
