<ion-header>
  <ion-navbar>
    <ion-title>{{'GROUP' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button clear color="primary" (click)="createGroup()">
        <ion-icon name="md-add-circle" style="font-size:26px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="content-gray-new">

  <ion-searchbar [formControl]="titleFilter" placeholder="{{'SEARCH' | translate}}">
  </ion-searchbar>
  <icmp-placeholder *ngIf="isShow && !count" placeholder="{{keyword}}"></icmp-placeholder>
  <ion-list class="icmp-list-bottom-margin">
    <button *ngFor="let group of allGroups | searchFilter: 'groupName': keyword" ion-item detail-none (click)="chatToGroup(group)">
      <ion-avatar item-left>
        <div class="word-head-image">
          <div class="word-head-image-content">{{group.groupName.substring(0, 1)}}</div>
        </div>
      </ion-avatar>
      <h2>{{group.groupName}}</h2>
    </button>
  </ion-list>

</ion-content>