.image-preview-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  img {
    max-height: 80%;
    width: 100%;
    margin-top: 54px;
  }
  .footer-button {
    text-align: center;

    button {
      width: 100px;
      margin-bottom: 20px;
    }
    .left-button {
      margin-right: 15px;
    }
    .right-button {
      margin-left: 15px;
    }
  }
}
