<icmp-spinner></icmp-spinner>
<ion-header>
  <ion-navbar>
    <ion-title id="e2e-todolist-title">{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray-new">
  <div ion-fixed class="todoList-prompt">
    <ion-icon name="ios-paper-outline"></ion-icon>
    <span>{{'TODO_LIST_PROMPT_ONE' | translate}}{{todoTotal}}{{'TODO_LIST_PROMPT_TWO' | translate}}</span>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="todo-list" *ngFor="let item of todoList">
    <h2>{{item?.processInstanceName}}</h2>
    <p>
      <span *ngIf="!item.hideProcessInstanceInitiatorName" style="margin-right: 6px">{{'INITIATOR' | translate}}：{{item?.processInstanceInitiatorName}}</span>
      <span *ngIf="!item.hideStep">{{'CURRENT_STEP' | translate}}：{{item?.stepName}}</span>
    </p>
    <p *ngIf="item.otherInfo != null && item.otherInfo != ''">{{item?.otherInfo}}</p>
    <p><img src="./assets/images/time_3x.png" class="item-icon"> {{item?.createTime}}</p>
    <div class="item-buttons">
      <button id="e2e-handle-button" round ion-button small color="primary" (click)="doHandle(item)">{{'HANDLE' | translate}}</button>
      <button id="e2e-goback-button" round ion-button small color="danger" (click)="doGoback(item)" [disabled]="item.assignee == null || item.assignee == ''">{{'GOBACK' | translate}}</button>
      <button id="e2e-claim-button" clear ion-button small color="primary" (click)="doClaim(item)" [disabled]="item.assignee != null && item.assignee != ''">{{'CLAIM' | translate}}</button>
      <div class="clear"></div>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
