page-todo-list {
  $todoList-prompt-height: 32px;

  .content-md {
    .scroll-content {
      margin-top: $navbar-md-height + $todoList-prompt-height - 2px !important;
    }

    ion-refresher {
      top: $navbar-md-height + $todoList-prompt-height - 2px !important;
    }
  }

  .content-ios {
    .scroll-content {
      margin-top: $navbar-ios-height + $todoList-prompt-height + $ios-status-bar-height - 2px !important;
    }

    ion-refresher {
      top: $navbar-ios-height + $todoList-prompt-height + $ios-status-bar-height - 2px !important;
    }
  }

  .item p {
    text-overflow: clip !important;
    white-space: normal !important;
  }

  .item h2 {
    text-overflow: ellipsis; 
    overflow: hidden;
  }

  .todoList-prompt {
    z-index: 1;
    width: 100%;
    background-color: color($colors, primary);
    color: #ffffff;
    font-size: 15px;
    padding-left: 16px;
    line-height: $todoList-prompt-height;
    display: flex;
    align-items: center;

    ion-icon {
      margin-right: 6px;
    }
  }

  .item-buttons {
    text-align: center;
    padding-top: 6px;
    border-top: 1px solid #eee;

    .button {
      &:not(:last-child) {
        margin-right: 12px;
      }

      width: 76px;
      padding: 4px 16px;
      float: right;
    }

    #e2e-goback-button {
      background-color: #fac305;
    }

    #e2e-claim-button {
      float: left;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    }

    .clear {
      clear: both;
    }
  }

  .todo-list {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 8px;
    padding-bottom: 5px;

    h2 {
      border-bottom: 1px solid #eee;
      font-size: 1.2em;  
      margin: 0;
      padding-bottom: 8px;
    }

    .item-icon {
      width:20px;
      height:20px;
      vertical-align: text-bottom;
    }
  }
}
