.icmp-toast {
  .toast-wrapper {
    width: 90%;
    &.toast-bottom {
      bottom: 70px !important;
    }
    &.toast-top {
      top: 60px !important;
    }
  }
}

ion-content {
  &.content-gray {
    background-color: #efeeee;
  }
}

ion-content {
  &.content-gray-new {
    background-color: #f0f4f7;
  }
}

.icmp-list-header {
  padding: 16px;
}

.icmp-list-bottom-margin {
  margin-bottom: 16px !important;
}

.icmp-list-top-margin {
  margin-top: 16px !important;
}

.icmp-list-bottom-none {
  margin-bottom: 0 !important;
}

.display-hidden {
  display: none;
}

.blank-line {
  height: 24px;
}

// 拖拽样式
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.setting-menu {
  text-align: center;
  img {
    width: 60px;
    height: 60px;
  }
  ion-icon {
    display: none;
  }
  .menu-text {
    text-align: center;
    font-size: 14px;
    color: #777777;
    padding-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.form-table-list {
  .form-table-content {
    padding: 12px 0;
    overflow-x: auto;
    table {
      tr {
        border-bottom: 1px solid #cccccc;
        td {
          padding: 8px 12px 8px 8px;
          font-size: 1.4rem;
          color: #8e9093;
          &.form-table-head {
            color: #333333;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.word-head-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin: auto;
  .word-head-image-content {
    border-radius: 50%;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: color($colors, primary);
  }
}
