<icmp-spinner></icmp-spinner>
<ion-header>
  <ion-navbar>
    <ion-title>{{'PERSONAL_INFO' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray-new">
  <div class="user-head-image-div">
    <div class="user-head-image-div-img">
      <input id="file" type="file" accept="image/*" (change)="changeAvatar($event)" />
      <img *ngIf="userInfo.avatar" src="{{userInfo.avatar}}" (error)="resetImg()">
      <span *ngIf="!userInfo.avatar">{{surname}}</span>
    </div>
    <div class="user-head-image-div-content">
      <p>{{userInfo?.name}}</p>
      <p *ngIf="userInfo != null && userInfo.orgName != null" class='orgName'>{{'DEPARTMENT' | translate}} : {{userInfo?.orgName}}</p>
    </div>
  </div>
  <ion-list>
    <ion-item ion-item>
      {{'ACCOUNT' | translate}}
      <p item-right>{{userInfo?.account}}</p>
    </ion-item>
    <ion-item>
      {{'SEX' | translate}}
      <p item-right>{{userInfo?.sexName}}</p>
    </ion-item>
    <ion-item ion-item>
      {{'PHONE' | translate}}
      <p item-right>{{userInfo?.phone}}</p>
    </ion-item>
    <ion-item>
      {{'EMAIL' | translate}}
      <p item-right>{{userInfo?.email}}</p>
    </ion-item>
    <ion-item>
      {{'ASCRIPTION' | translate}}
      <p item-right>{{userInfo?.ascription}}</p>
    </ion-item>
    <!--无关内容先屏蔽-->
    <!-- <ion-item>
      {{'PRIVACY' | translate}}
      <p item-right>好友和群成员可见</p>
    </ion-item> -->
    <ion-item>
      {{'DEPT' | translate}}
      <p item-right>{{userInfo?.deptName}}</p>
    </ion-item>
    <ion-item>
      {{'JOB' | translate}}
      <p item-right>{{userInfo?.jobName}}</p>
    </ion-item>
    <ion-item>
      {{'JOB_NUM' | translate}}
      <p item-right>{{userInfo?.jobNum}}</p>
    </ion-item>
  </ion-list>
</ion-content>
