<icmp-spinner></icmp-spinner>
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-gray statisticsView-content">
  <ion-card *ngIf="statisticsDate.title != null || statisticsDate.template != null" class="statisticsView-illustrate">
    <ion-item *ngIf="statisticsDate.title != null" class="statisticsView-title">
      {{statisticsDate.title}}
    </ion-item>
    <div *ngFor="let item of statisticsDate.template">
      <ion-item *ngIf="item.layout == 'layout_1'">
        <ion-label fixed>{{item.label}}</ion-label>
        <p item-right class="text-value">{{item.default}}</p>
      </ion-item>
      <ion-item *ngIf="item.layout == 'layout_2'">
        <h2>{{item.label}}</h2>
        <p class="textarea-value"><span [innerHtml]="item.default"></span></p>
      </ion-item>
    </div>
  </ion-card>
  <ion-card *ngFor="let chart of statisticsDate.charts; let i = index">
    <ion-card-header>
      {{chart.title}}
    </ion-card-header>
    <ion-card-content>
      <div id="chart_{{i}}" style="width: 100%" [style.height]="chart.height"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
