<icmp-spinner></icmp-spinner>
<ion-content class="content-gray-new">
  <div class="setting-content" [navPush]="userInfoPage">
    <div class="setting-content-blue"></div>
    <div class="setting-content-white">
      <p class="setting-content-name">{{userInfo?.userName}}</p>
      <p>{{'ACCOUNT' | translate}}：{{userInfo?.loginName}}</p>
    </div>
    <div class="setting-content-circle">
      <img *ngIf="src" src="{{src}}" (error)="resetImg()">
      <div *ngIf="!src" class="setting-content-circle-inner">{{surname}}</div>
    </div>
  </div>

  <ion-list class="icmp-list-bottom-margin">
    <!-- <button ion-item [navPush]="safeAndPrivacyPage">
      {{'SAFE_AND_PRIVACY' | translate}}
    </button> -->
    <!-- <button ion-item [navPush]="generalPage">
      {{'GENERAL' | translate}}
    </button> -->
    <button ion-item [navPush]="newsNoticePage">
      {{'NEW_NOTICE' | translate}}
    </button>
    <button id="e2e-resetpassword" ion-item [navPush]="resetPasswordPage">
      {{'RESET_PASSWORD' | translate}}
    </button>
    <button id="e2e-checkversion" ion-item (tap)="checkVersion()">
      {{'CHECK_VERSION' | translate}}
      <span item-end>{{appVersionName}}</span>
    </button>
    <button ion-item [navPush]="feedbackPage">
      {{'FEEDBACK' | translate}}
    </button>
    <button id="e2e-aboutme" ion-item [navPush]="aboutPage">
      {{'ABOUT_US' | translate}}
    </button>
  </ion-list>

  <div padding>
    <button round id="e2e-logout-button" ion-button block (click)="logOut()">
      {{'LOGOUT' | translate}}
    </button>
  </div>
</ion-content>
